.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 31, 63, 0.9);
    /* Dark blue theme with opacity */
    z-index: 9999;
}

.spinner-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loader-logo {
    width: 50px;
    /* Adjust based on logo shape */
    height: auto;
    position: relative;
    z-index: 10000;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}